.socialPng{
    height: 40px;
    margin: 10px;
}

.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25vh 0;
}

.aboutSection a {
    margin-top: 20px;
    font-size: 30px;
}