header {
    margin: 6px 0 0 0;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    height: 9vh;
}

.sabreLogo {
    height: 8vh;
    margin-left: 10px;
}

.menuDropBtn {
    margin-right: 0;
    height: fit-content;
}

.messagePng {
    height: 35px;
    padding: 10px;
}

.dropDown {
    position: absolute;
    display: flex;
    margin-top: -10px;
    margin-left: 55%;
    width: 38%;
    justify-content: center;
}

.menuItemContainer {
    width: 100%;
}

.menuItem {
    width: 100%;
    background-color: white;
    border: black solid 1px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (orientation: landscape) {
    header {
        height: 8vw;
    }

    .nav {
        height: 9vw;
    }

    .sabreLogo {
        height: 8vw;
    }
}