* {
    margin: 0;
    padding: 0;
}
.app {
    max-width: 500px;
    margin: 0 auto;
}

.appEnclosure {
    height: 80vh;
    overflow: scroll;
}

@media screen and (max-width: 1000px) and (orientation: landscape){
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
    .appEnclosure {
        height: 80vw;
        overflow: scroll;
    }
  }