.schedulePng {
    width: 100%;
}

.homeScreen{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    padding: 20px;
}

.modalImg{
    width: 100%;
}
.iconExample{
    height: 25px;
}