.postImg {
    max-width: 90vw;
    max-height: 15vh;
}

.postImgSmBg {
    display: flex;
    overflow: scroll;
    background-color: #D3D3D3;
}

.postImgBig {
    width: 100%;
    z-index: 2;
    background-color: #D3D3D3;
}

.postImgBigBg {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #D3D3D3;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.cardHead {
    display: flex;
    justify-content: space-between;
}

.cardContent {
    padding-bottom: 5px;
    border-bottom: #000 solid 1px;
}

.alertBackground {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

iframe {
    max-width: 100%;
}

@media screen and (max-width: 600px){
    .alertBox {
        width: 95vw;
    }
}