.mainMenu {
    display: flex;
    /* margin-top: -25px; */
    border-top: black 1px solid;
    height: 11vh;
}
.mainMenuBtnCase{
    margin: auto;
}
.mainMenuBtn {
    border-radius: 10px;
    margin: 15px auto;
    background-color: #fff;
}
.mainMenuBtnPng{
    padding: 3px;
    height: 35px;
}
@media screen and (orientation: landscape){
    .mainMenu {
        height: 11vw;
    }
}