.signInFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    justify-content: center;
    /* margin: 50% 20px; */
}

.signInForm {
     display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly;
    width: 200px; */
    padding: 10px; 
    border: solid black 1px;
    border-radius: 5px;
}

.signInInput {
    height: 30px;
}

.buttonflex {
    display: flex;
}

.loginBtn {
    height: 40px;
    padding: 10px;
    margin: 0 10px;
}

.signUp {
    background-color: blue;
    color: white;
    border-radius: 3px;
}